.btnSubmit {

    padding: 1rem 1.5rem;
    border-radius: 1rem; 
    border: none;
    background-color: #E9A0A0;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.btnExport {
    margin-top: 2rem;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: #E9A0A0;
   color: white;
   font-size: 1.5rem;
}